<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleMenu($event)">
      <mat-icon>reorder</mat-icon>
    </button>
    <span>Todoist</span>

    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>help_outline</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>desktop_access_disabled</mat-icon>
    <span>Logout</span>
  </button>
  <button mat-menu-item>
    <mat-icon>vpn_key</mat-icon>
    <span>Change Password</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>
