<div class="snack-bar-container">
  <span
    [innerHTML]="data.content"
    class="snack-bar-content"
    class="snack-bar-span-content"
  ></span>
  <em (click)="dismiss()" class="snack-bar-dismiss"> </em>
</div>
