:host {
  $color-clear: transparent;
  $color-base: #fff;
  $color-theme: #3f51b5;
  .snack-bar-container {
    display: table;
    color: $color-base;
    width: 100%;

    .snack-bar-content {
      display: table-cell;
      vertical-align: middle;
      padding: 0 20px;
    }

    .snack-bar-dismiss {
      font-size: 25px;
      display: table-cell;
      cursor: pointer;
      text-align: right;
    }
  }
}
::ng-deep {
  .snack-bar-message {
    // .snack-bar-container {
    //   color: #fff !important;
    // }

    // &.information {
    //   background-color: #3f51b5;
    // }

    // &.success {
    //   background-color: #3f51b5;
    // }

    &.warning {
      background-color: #ff4081;

      ::ng-deep() .snack-bar-dismiss {
        display: none !important;
      }
    }

    &.error {
      background-color: #f44336;
    }
  }
}
