:host {
  ::ng-deep {
    mat-card-content {
      height: 100vh;
      .mat-list-item {
        cursor: pointer;
        &.highlight {
          font-weight: bold;
        }
        ::ng-deep {
          .mat-list-item-content {
            padding: 0;
            margin: 0;
          }
        }
      }
    }
    .project-name {
      flex: 2;
    }
  }
}
