<mat-card>
  <mat-card-header>
    <mat-card-title>Projects</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="content">
      <button
        mat-stroked-button
        color="primary"
        (click)="onClickCreateProject($event)"
      >
        <mat-icon>add</mat-icon> Add new project
      </button>
      <mat-list>
        <mat-list-item
          *ngFor="let project of projects"
          [ngClass]="{ highlight: selectedIndex === project.id }"
        >
          <mat-icon
            mat-list-icon
            [ngStyle]="{
              color: project.project_color
            }"
            >fiber_manual_record</mat-icon
          >
          <span class="project-name" (click)="onClickProject(project)">{{
            project.project_name
          }}</span>
          <button
            mat-icon-button
            color="primary"
            (click)="onClickEditProject(project)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="onClickDeleteProject(project.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
