::ng-deep {
  .container {
    display: flex;
    width: 100%;
    mat-sidenav {
      &.left-menu {
        width: 35%;
        justify-content: center;
        padding-right: 5px;
        padding-left: 5px;
      }
    }
    mat-sidenav-content {
      width: 100%;
    }
  }
}
