<mat-sidenav-container class="container">
  <mat-sidenav class="left-menu" #sidenav mode="side">
    <ng-content select="[leftTask]"></ng-content>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content class="main-wrapper">
    <ng-content select="[mainTask]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
