<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <form [formGroup]="projectsForm" name="projectsForm" novalidate>
    <div class="form-group">
      <mat-form-field [floatLabel]="floatLabel" hideRequiredMarker="true">
        <label>
          <input
            required="project_name"
            formControlName="project_name"
            matInput
            placeholder="Project name"
          />
        </label>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field [floatLabel]="floatLabel" hideRequiredMarker="true">
        <mat-select
          placeholder="Select color"
          formControlName="project_color"
          [(value)]="selectedColor"
        >
          <mat-select-trigger>
            <mat-icon [ngStyle]="{ color: selectedColor }"
              >brightness_1</mat-icon
            >
            {{ selectedColor }}
          </mat-select-trigger>
          <mat-option [value]="color.value" *ngFor="let color of projectColor">
            <mat-icon [ngStyle]="{ color: color.value }">brightness_1</mat-icon>
            {{ color.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<div mat-dialog-actions>
  <label>&nbsp;</label>
  <div class="mat-form-field actions-group">
    <button [mat-dialog-close]="false" mat-flat-button>
      Cancel
    </button>
    <button
      [disabled]="projectsForm.invalid"
      (click)="onSubmitForm()"
      [disabled]="projectsForm.invalid"
      [mat-dialog-close]="false"
      color="primary"
      mat-raised-button
    >
      Save
    </button>
  </div>
</div>
