<app-two-column-layouts>
  <div leftTask>
    <app-user-projects
      [projects]="userProjects"
      (clickProject)="onClickProject($event)"
      (clickCreateProject)="onClickCreateProject($event)"
      (clickEditProject)="onClickEditProject($event)"
      (clickDeleteProject)="onClickDeleteProject($event)"
    ></app-user-projects>
  </div>
  <div mainTask>
    <app-user-tasks
      [projectName]="projectName"
      [userTasks]="userTasks"
      (checkedTask)="onCheckedTask($event)"
      (clickCreateTask)="onClickCreateTask($event)"
      (clickEditTask)="onClickEditTask($event)"
    ></app-user-tasks>
  </div>
</app-two-column-layouts>
