<mat-card>
  <mat-card-header>
    <mat-card-title>{{ projectName }} Tasks </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button
      *ngIf="projectName"
      mat-stroked-button
      color="primary"
      (click)="onClickCreateTask($event)"
    >
      <mat-icon>add</mat-icon> Add new task
    </button>
    <mat-list *ngIf="userTasks" cdkDropList (cdkDropListDropped)="drop($event)">
      <mat-list-item *ngIf="userTasks.length === 0"
        >Don't have any task</mat-list-item
      >
      <mat-list-item
        *ngFor="let task of userTasks"
        cdkDrag
        style="display: flex;"
      >
        <span style="flex: 2;">
          {{ task.task_name }}
        </span>
        <mat-checkbox
          color="primary"
          class="custom-frame"
          (change)="onCheckedTask(task.id)"
        ></mat-checkbox>
        <button mat-icon-button color="primary" (click)="onClickEditTask(task)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
