<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <form [formGroup]="tasksForm" name="tasksForm" novalidate>
    <div class="form-group">
      <mat-form-field [floatLabel]="floatLabel" hideRequiredMarker="true">
        <label>
          <input
            required="task_name"
            formControlName="task_name"
            matInput
            placeholder="Task name"
          />
        </label>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<div mat-dialog-actions>
  <label>&nbsp;</label>
  <div class="mat-form-field actions-group">
    <button [mat-dialog-close]="false" mat-flat-button>
      Cancel
    </button>
    <button
      [disabled]="tasksForm.invalid"
      (click)="onSubmitForm()"
      [disabled]="tasksForm.invalid"
      [mat-dialog-close]="false"
      color="primary"
      mat-raised-button
    >
      Save
    </button>
  </div>
</div>
