:host {
  .mat-nav-list {
    &.list-vertical {
      height: 100%;
      width: inherit;

      .mat-icon {
        color: rgba(0, 0, 0, 0.54);
        vertical-align: middle;
        margin-right: 10px;
      }

      .list-item-active {
        font-weight: bold;
        color: #ef4e4e !important;
        .mat-icon {
          color: #ef4e4e !important;
        }
      }
    }
  }
}
