<mat-nav-list class="list-vertical">
  <mat-list-item *ngFor="let link of menuNavigation">
    <a
      mat-list-item
      [routerLink]="link.link"
      routerLinkActive="list-item-active"
    >
      <mat-icon mat-list-icon>{{ link.icons }}</mat-icon>
      {{ link.title }}</a
    >
  </mat-list-item>
</mat-nav-list>
