:host {
  .user-avatar {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }
  .link-profile {
    text-decoration: none;
    font-weight: 500;
    &:hover {
      color: lightcoral;
    }
  }
}
