<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="user-avatar"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>
      <span>Email: </span>
      <a
        class="link-profile"
        href="https://material.angular.io/assets/img/examples/shiba2.jpg"
        ><span>shibainu@gmail.com</span></a
      ></mat-card-subtitle
    >
  </mat-card-header>
</mat-card>
