<app-header (toggleSidenav)="sidenav.toggle()"></app-header>

<mat-sidenav-container class="container">
  <mat-sidenav class="left-menu" #sidenav mode="side" opened="true">
    <mat-list>
      <div mat-subheader>Profile</div>

      <app-user-profile></app-user-profile>

      <mat-divider></mat-divider>
      <div mat-subheader>Categories</div>

      <app-menu-sidenav [menuNavigation]="appNavigation"></app-menu-sidenav>

      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-wrapper">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
