::ng-deep {
  z-index: 999;

  app-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    z-index: 999;
  }
}

:host {
  .container {
    position: fixed;
    width: 100%;
    margin-top: 64px;
    display: flex;
    height: 100%;
    left: 0;
    right: 0;
    mat-sidenav {
      &.left-menu {
        justify-content: center;
        width: 21%;
        .mat-list {
          padding-top: 2px;
        }
      }
    }
    mat-sidenav-content {
      &.main-wrapper {
        width: 100%;
      }
    }
  }
}
